<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

<!-- Configure annotation base package -->
<context:component-scan base-package="com.nt.niranjana.spring.mvc"/>

<!-- Configure ViewResolver<I> implementation class -->
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
	<property name="prefix" value="/WEB-INF/views/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>

<mvc:annotation-driven></mvc:annotation-driven>

<!-- Interceptor tag is coming form nvc tag, first use mvc schema then mvc annotation driven then Configure Interceptor -->
<mvc:interceptors>	
	<mvc:interceptor>
		<mvc:mapping path=""/>
		<bean class=""></bean>
	</mvc:interceptors>
</mvc:interceptor>

</beans>